<div>
  <h2>EDIT PROFILE</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class='field'>
      <%= f.label :username, 'Username:' %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :email, 'Email:' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, 'New password (optional):' %>
      <%= f.password_field :password, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'New password confirmation:' %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :current_password, 'Current password:' %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit 'Update profile' %>
    </div>
  <% end %>

  <%= link_to destroy_user_session_path, method: :delete do %>
  <div class='button_link'>Sign out</div>
  <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete do %>
    <div class='button_link'>Cancel my account</div>
  <%- end -%>
  <%- end -%>
</div>
