<%- if @group.owner_id = current_user.id -%>
  <div>
    <h2>EDIT <%= @group.name.upcase %></h2>

    <%= form_for (@group) do |f| %>
      <div>
        <%= f.label :name, 'Group name:' %><br />
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :description, 'Description:' %><br />
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.submit 'Edit group' %>
      </div>

      <%= link_to 'Delete group', group_path(@group),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <%- end -%>
  </div>
<%- else -%>
  redirect_to root_path
<%- end -%>
